<h2>日記を投稿</h2>
<div class="contents row">
  <div class="container">
    <%= form_with(model: @diary, local: true) do |form| %>
    <%= form.label :pet_id, "ペットを選択" %>
    <%= form.collection_select :pet_id, current_user.pets, :id, :pets_name, prompt: "選択してください" %>

      <%= form.file_field :image, accept: "image/*" %>
      <%= form.text_area :comment_text, placeholder: "コメントを入力してください", rows: "10" %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>