<h2><%= @user.nickname %>さんのマイページ</h2>

<% @pets.each do |pet| %>
  <div class="content_post" style="background-image: url(<%= url_for(pet.image) if pet.image.attached? %>);">
    <p class="comment-text"><%= pet.pets_name %> 
    <span class="kind"><%= pet.kind %></span>
    <span class="sex"><%= pet.sex.name %></span>
    <span class="birthday_id"><%= pet.birthday_id %></span>
    <span class="family_day_id"><%= pet.family_day_id %></span></p>
  </div>
<% end %>